.main-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 1000px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header header" ". buttons buttons ." "card-cont card-cont card-cont card-cont" "instructions instructions instructions instructions" 'slice-cont slice-cont slice-cont slice-cont';
  color: red;
}

.main-container .header {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 2rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  background-color: darkred;
  color: wheat;
  text-align: center;
  padding: 40px;
}

.main-container .header img {
  width: 10%;
}

.main-container .buttons-container {
  justify-self: center;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: buttons;
  background-color: lightgreen;
}

.main-container .buttons-container button {
  color: white;
  background-color: darkred;
  border: none;
  outline: 1px solid white;
  padding: 10px;
  margin: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 200px;
  cursor: pointer;
}

.main-container .buttons-container button:hover {
  color: darkred;
  background-color: wheat;
}

.main-container .card-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: card-cont;
  justify-self: stretch;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .card-container .img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  background-color: lightcoral;
}

.main-container .card-container .img-cont img {
  width: 100%;
}

.main-container .card-container .description {
  font-size: 1rem;
  color: black;
  background-color: lightblue;
  width: 250px;
  height: 350;
  padding: 20px;
}

.main-container .instructions {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: instructions;
  font-size: 1.5rem;
  color: black;
  background-color: lightsalmon;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5px;
  margin-bottom: 5px;
}

.roler-puzzle-main-cont {
  width: 600px;
  height: 600px;
  grid-area: puzzle;
  background-color: deeppink;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'sqr1 sqr2 sqr3' 'sqr4 sqr5 sqr6' 'sqr7 sqr8 sqr9';
}

.roler-puzzle-main-cont .sqr {
  background-color: forestgreen;
}

.slice-rotate-main-cont {
  position: relative;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: slice-cont;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 550px;
  height: 350px;
  margin-bottom: 50px;
}

.slice-rotate-main-cont .slice-back-cont {
  position: absolute;
  background-color: white;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.slice-rotate-main-cont .single-slice-cont {
  width: 100%;
  height: 2%;
  border: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.slice-rotate-main-cont .mouse-ent-class {
  -webkit-animation: slidingEnter 1s ease-out forwards;
          animation: slidingEnter 1s ease-out forwards;
}

.slice-rotate-main-cont .mouse-leave-class {
  -webkit-animation: slidingLeave 1s ease-out forwards;
          animation: slidingLeave 1s ease-out forwards;
}

@-webkit-keyframes slidingEnter {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
}

@keyframes slidingEnter {
  0% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  100% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
}

@-webkit-keyframes slidingLeave {
  0% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  80% {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes slidingLeave {
  0% {
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  80% {
    -webkit-transform: translate(-20px);
            transform: translate(-20px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: white;
}

/* 
////////////////PRE SET/////////////////////////// */
/*# sourceMappingURL=style.css.map */